* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    background-color: $bg-color;
    color: $fcolor;
}

body{
    font-family: $font;
    // to allow for footer
    margin-bottom: 60px;
}

main {
    min-height: calc(100vh - 196px);
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: $fcolor;
}

